th {
    background: #ccc;
    border-top: 1px solid #ccc
}

tr:nth-child(even) {
    background: #f8f8f8;
    border-top: 1px solid #ccc
}

tr:nth-child(odd) {
    background: #FFF;
    border-top: 1px solid #ccc
}

body {
    counter-reset: figures;
    counter-reset: tables;
}

figure {
    counter-increment: figures;
}

figcaption {
    font-style: normal;
    font-weight: bold;
    display: inherit;
    text-align: center;
    font-size: 90%;
}

figcaption:before {
    content: 'Figura ' counter(figures) ' - ';
}

table {
    counter-increment: tables;
}

table>caption {
    font-style: normal;
    font-weight: bold;
    caption-side: top;
    text-align: center;
    font-size: 90%;
    background: none;
    border-bottom: none;
    color: #172b4d;
}

table>caption:before {
    content: 'Tabela ' counter(tables) ' - ';
}

cite{
    text-align: right;
    width: auto;
    display: block;
}

.pagebreak{
    margin-top: 30em !important;
    page-break-after: always;
}

dd {
    margin-inline-start: 40px;
}


@media print {
    .pagebreak {
        visibility: hidden;
        margin-top: 0em !important;
    }
}

li > ol > li {
    list-style: lower-alpha;
}